[core]
  autocrlf = input
  editor = vi
  pager = less -x4
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = true
[push]
  default = simple
[alias]
  logx = log --all --graph --decorate=short --pretty=format:'%w(83)%C(auto)%h% an (%ar):% s%n%-d'
  co = checkout
  staged = diff --staged
  initignore = !git init && \
    wget -O .gitignore "https://www.gitignore.io/api/java,eclipse,intellij,c,c++,linux,windows,cmake,maven,rails,ruby" && \
    echo \"\n.classpath\n.project\n\" >> .gitignore && \
    git add .gitignore && \
    git commit -m\"[AUTO] Added gitignore\"
  diffx = diff --word-diff=color
  whatchangedx = whatchanged --oneline --graph
  ahead = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
  addx = add -N .
  s = status
  p = add -p
  append = commit --amend --no-edit
  prune-features = !git checkout develop && \
    git pull && \
    git branch --merged | grep feature/ | xargs -r git branch -d && \
    echo "Remaining branches:" && \
    git branch
  conflicts = diff --name-only --diff-filter=U

[user]
  email = palsivertsen@gmail.com
  name = Pal Sivertsen
