## Add '$include ~/projects/shell/dotfiles/.inputrc' to ~/.inputrc to use this config

$include /etc/inputrc
"\C-p":history-search-backward
"\C-n":history-search-forward

set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous Off
set show-all-if-unmodified Off
set visible-stats On
