## Add '$include ~/projects/shell/dotfiles/.inputrc' to ~/.inputrc to use this config

$include /etc/inputrc
"\C-p":history-search-backward
"\C-n":history-search-forward

set editing-mode vi
set colored-stats On
set completion-ignore-case On
set mark-symlinked-directories On
set visible-stats On

# menu-complete
TAB:menu-complete
set menu-complete-display-prefix On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set completion-query-items 250
